<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="..\static\style.css">
    <title>Волонтер</title>
</head>
<body>
	<header>
		<div class = "main-menu-container">
			<div class = "menu-triger">
				<div class = "menu-triger-lines"></div>
			</div>
			<nav class = "nv">
				<ul>
					<li><a href="IN.html">Інформація</a></li>
					<li><a href="#">Про нас.</a></li>
					
				</ul>
			</nav>
		</div>
	<div class = "Velcom">
	<h1>Волонтер</h1>
	<h2>Ласкаво просимо до нас</h2>
	</div>
	</header>

	
	
	<footer>
		<p>Vdlc:2023.20.04</p>
	</footer>	
	
	<script src = "..\static\java.js"></script>
</body>
</html>