<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="..\static\style.css">
    <title>Волонтер</title>
</head>
<body>
	<header>
		<div class = "main-menu-container">
			<div class = "menu-triger">
				<div class = "menu-triger-lines"></div>
			</div>
			<nav class = "nv">
				<ul>
					<li><a href="GL.html">Головна</a></li>
					<li><a href="#">Про нас.</a></li>
					
				</ul>
			</nav>
		</div>
	<div id="fototext">Інформація</div>
		<section class="ft">
	
        <div id="fotodlc"><img src="..\static\img\GL\i\i.png" widht="160" height="160"></div>
	     
	
</section>

	</header>
<main>
<div class="br">
			<div class="menugm"> 
			<ul>
			<li><a href="Ln1.html" >Які існують Волонтерські організації </a></li>
			
			<li><a href="Ln2.html" >Історія червоного хреста </a></div></li>
			
			</ul>
			</div>
</div>			
</main>


	
	
	<footer>
		<p>V4:2022.25.08</p>
	</footer>	
	
	<script src = "..\static\java.js"></script>
</body>
</html>