<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="..\static\style.css">
    <title>Волонтер</title>
</head>
<body>
	<header>
		<div class = "main-menu-container">
			<div class = "menu-triger">
				<div class = "menu-triger-lines"></div>
			</div>
			<nav class = "nv">
				<ul>
					<li><a href="IN.html">Назад</a></li>
					<li><a href="#">Про нас.</a></li>
					
				</ul>
			</nav>
		</div>
	<div class = "information">
	<table border="2" >
 
     <tr><th><h3>Міжнародний комітет Червоного Хреста (МКЧХ) — приватна організація, яка була заснована в 1863 році в Женеві, Швейцарія. Комітет, що складається з 25 членів має унікальні повноваження, які були наданні міжнародною спільнотою, щоб захищати життя та гідність жертв міжнародних та внутрішніх збройних конфліктів.</h3><tr><th>
	<tr><th><h3>Міжнародна федерація товариств Червоного Хреста та Червоного Півмісяця (МФЧХ і ЧП) — організація, заснована в Парижі в 1919 році. Федерація займається координацією всіх національних організацій в межах руху. В тісній співпраці з національними організаціями вона проводить міжнародні гуманітарні операції, які потребують значних ресурсів. Міжнародний секретаріат Федерації знаходиться в Женеві, Швейцарія.   </h3><tr><th>		  
     
	 
     </table>
	
	
	</div>
	</header>

	
	
	<footer>
		<p>Vdlc:2023.20.04</p>
	</footer>	
	
	<script src = "..\static\java.js"></script>
</body>
</html>